@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

*{
    margin:0;
    padding:0;
}
body{
    background-color: rgba(218, 197, 197, 0.812); 
}
.container{
    background-color: rgba(218, 197, 197, 0.812);
    background-size:100% 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.container .navbar{
    width: 100%;
    height: 100px;
    background:rgba(0, 6, 13, 0.956);
}
.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px ;
}

.navbar .logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: #f3f3f3;
}

.navbar ul{
    float: right;
    margin-right: 30px;
    
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:0 8px;
    line-height: 80px;
}

.navbar ul li a{
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-size: 20px;
    padding:6px 13px;
    font-family:Roboto;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    border-radius: 2px;
    text-decoration: underline;  
}
ul li ul {
    display:none;
    position:absolute;
    height: 70px;
    width:200px;
}
ul li:hover ul{
    display:block;  
}
li ul li {
    width: 250px;
    background:rgba(0, 6, 13, 0.956);
    display:block; 
}
li ul li:hover{
    background-color:goldenrod;
}


.yazi{
    font-family:Roboto;
    color: #130f40;
    font-size:30px; 
     
}
.yazi p {
    margin-bottom: 2rem;
}
.baslik{
    color: #3c40c6;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Roboto;
}

.resim {
 width: 70%;
 text-align: center;
 margin-left: 150px;
 height: 70%;
 box-shadow: 0 0 50px rgba(0, 0,0, .8);
 border-radius: 30px;
 border: solid 2px goldenrod;
 }
.kresim{
width: 50%;
text-align: center;
height: 50%;
margin-left: 250px;
box-shadow: 0 0 10px rgba(0, 0,0, .8);
border-radius: 30px;
}

.button{
    text-transform:uppercase;
    font-family:Roboto;
    width: 100px;
    height: 50px;
    border:white;
    border-radius: 40px;
    background-color:black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    color: goldenrod
}
.paylas{
    position: absolute;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0,0, .8);
    margin-left: 30px;
    border-radius: 30px;
}
.inst{
    position: absolute;
    margin-left: 150px;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0,0, .8);
    border-radius: 30px;
}
.tvit{
    position: absolute;
    margin-left: 90px;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0,0, .8);
    border-radius: 30px;
}
.tik{
    position: absolute;
    margin-left: 210px;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0,0, .8);
    border-radius: 30px;
}
.kbaslik{
    text-align: center;
     text-transform: uppercase;
     font-size: 20px;
     color: #e15f41;
     font-family: Roboto;
}
.bas a{
    font-size: 21px;
    font-family:Roboto;
    text-transform: uppercase;
    color: white;
   background-color:  rgba(0, 0, 0, 8);
    text-decoration: none;
}
.bas a :hover{
    font-size: 21px;
    font-family:Roboto;
    text-transform: uppercase;
    color: goldenrod;
   background-color:  rgba(0, 0, 0, 8);
    text-decoration: none;
}
.aresim{
    width: 80%;
    text-align: left;
     height: auto;
     box-shadow: 0 0 10px rgba(0, 0,0, .8);
     border-radius: 30px;
}
.ayazi{
    position: absolute;
    top: 350px;
    background-color:goldenrod;
    margin-left: 2px;
    font-size: 35px;
    color:black;
}
.vyazi{
    position: absolute;
    top: 850px;
    background-color:goldenrod;
    margin-left: 2px;
    font-size: 35px;
    color:black;
}
.dyazi{
    position: absolute;
    top: 1450px;
    background-color:goldenrod;
    margin-left: 2px;
    font-size: 35px;
    color:black;
}
.syazi{
    position: absolute;
    top: 2150px;
    background-color:goldenrod;
    margin-left: 2px;
    font-size: 35px;
    color:black;
}
.yaz{
    color:black;
    font-size: 35px;
    font-family: Roboto;
}
.yazz{
    color: royalblue;
    font-size: 30px;
}
.yazzz{
    font-size: 25px;

}
.kutu{

    background-color:black;
    color: goldenrod;
    font-family: Roboto;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    font-size:x-large;
    text-align: center;
}
.kutuu{
    width: 100%;
    height: 50px;
    text-align: right;
    padding-top: 10px;
    text-decoration: none;
     background-color: black;
     
}
.kutuu a{
    text-decoration: none;
    color: white;
    font-family: Roboto;
    
}
.nerde{
    font-family: Roboto;
    color: #535c68;
}
.giriş{
    margin-right: 10px;
    padding: 10px;
    
}



