@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

*{
    margin:0;
    padding:0;
}
.container{
    background-color: rgba(218, 197, 197, 0.812);
    background-size:100% 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.container .navbar{
    width: 100%;
    height: 100px;
    background:rgba(0, 6, 13, 0.956);
}
.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px ;
}

.navbar .logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: #f3f3f3;
}

.navbar ul{
    float: right;
    margin-right: 30px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:0 8px;
    line-height: 80px;
}

.navbar ul li a{
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-size: 20px;
    padding:6px 13px;
    font-family:Roboto;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    border-radius: 2px;
    text-decoration: underline;  
}
ul li ul {
    display:none;
    position:absolute;
    height: 70px;
    width:200px;
}
ul li:hover ul{
    display:block;  
}
li ul li {
    width: 250px;
    background:rgba(0, 6, 13, 0.956);
    display:block; 
}
li ul li:hover{
    background-color:goldenrod;
}




.yazi{
    font-family:Roboto;
    color: black;
    font-size:30px; 
     
}
.yazi p {
    margin-bottom: 2rem;
}

.anbaslik{
    font-family:Roboto;
    color:brown;
    padding-top: 20px;
    padding-bottom: 20px;
}
.sabaslik{
    color:darkblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

.baslik{
    color: indigo;
    padding-top: 20px;
    padding-bottom: 20px;
}

.resim {
 width: 100%;
 text-align: center;
 height: auto;
}
.button{
    text-transform:uppercase;
    font-family:Roboto;
    width: 70px;
    height: 50px;
    border:rgba(218, 197, 197, 0.812);;
    background-color: rgba(218, 197, 197, 0.812);
    padding-top: 5px;
    padding-bottom: 5px;
}
.paylas{
    position: absolute;
   
    width: 50px;
    height: 50px;
}
.inst{
    position: absolute;
    margin-left: 60px;
    width: 50px;
    height: 50px;
}
.tvit{
    position: absolute;
    margin-left: 120px;
    width: 50px;
    height: 50px;
}
.tik{
    position: absolute;
    margin-left: 180px;
    width: 50px;
    height: 50px;
}
.kbaslik{
    text-align: center;
     text-transform: uppercase;
     font-size: 20px;
     color: purple
}
.bas a{
    font-size: 20px;
    font-family:Roboto;
    text-transform: uppercase;
    color: white;
    background-color: black;
    text-decoration: none;
}
.aresim{
    width: 80%;
 text-align: left;
 height: auto;
}
.ayazi{
    position: absolute;
    top: 350px;
    background-color:goldenrod;
    margin-left: 2px;
    font-size: 35px;
    color:black;
}
.vyazi{
    position: absolute;
    top: 850px;
    background-color:goldenrod;
    margin-left: 2px;
    font-size: 35px;
    color:black;
}
.dyazi{
    position: absolute;
    top: 1450px;
    background-color:goldenrod;
    margin-left: 2px;
    font-size: 35px;
    color:black;
}
.syazi{
    position: absolute;
    top: 2150px;
    background-color:goldenrod;
    margin-left: 2px;
    font-size: 35px;
    color:black;
}
